@tailwind base;

.menu-active #sideMenu {
    @apply translate-x-0
}
.menu-active .main-wrapper {
    @apply translate-x-[260px]
}


#footer {
    @apply text-darkSecondry
}
#footer svg path {
    @apply dark:text-darkSecondry fill-current
}

#toc li {
    @apply leading-8 pl-4 text-gray-500 border-l-2 border-gray-200 dark:text-darkSecondry dark:border-darkDivider truncate
}
#toc li:hover {
    @apply text-gray-700 dark:text-white
}
#toc li.is-active-li {
    @apply border-l-2 border-accent text-gray-700 dark:text-white
}
#toc.toc-show {
    @apply opacity-100
}
#toc.toc-hidden {
    @apply opacity-0 invisible
}
@media screen and (max-width: 1300px) {
    #toc {
        display: none;
    }
}

#waline .vpanel {
    @apply rounded-none m-0 border-r-0 border-l-0 border-gray-200 dark:bg-darkBglighter dark:border-darkDivider
}
#waline .vpanel .vheader {
    @apply border-b border-solid border-gray-200 dark:border-darkDivider rounded-none
}
#waline .vpanel .vheader .vheader-item {
    @apply border-0
}
#waline .vpanel .vheader .vheader-item label {
    @apply text-gray-700 dark:text-darkPrimary
}
#waline .vpanel .vheader .vheader-item input {
    @apply text-gray-700 bg-white dark:bg-darkBglighter dark:text-darkPrimary
}
#waline .veditor {
    @apply text-gray-700 dark:text-darkPrimary dark:bg-darkBglighter max-w-[calc(100%-40px)] mx-[20px] rounded-none bg-white
}
#waline .veditor:-ms-input-placeholder, html.dark #waline .veditor::-webkit-input-placeholder {
    @apply text-darkPrimary
}
#waline .vfooter svg {
    @apply text-gray-700 dark:text-darkPrimary fill-current
}
#waline .vfooter svg:hover {
    @apply text-accent fill-current ease-in-out duration-200 transition-all
}
#waline .vbtn {
    @apply border-gray-700 dark:border-darkDivider dark:text-darkSecondry
}
#waline .vbtn:hover {
    @apply border-accent text-accent
}
#waline .vbtn.primary {
    @apply bg-accent border-accent dark:text-white
}
#waline .vbtn.primary:hover {
    @apply ring-2 ring-[#FFA2A3] text-white dark:ring-white
}
#waline .vcount {
    @apply text-gray-700 ml-[10px] dark:text-darkPrimary
}
#waline .vempty {
    @apply text-gray-500 dark:text-darkSecondry
}
#waline .vpower {
    @apply mr-[10px] pb-3
}
#waline .vpower a {
    @apply text-accent
}
#waline .vcard .vhead a {
    @apply text-gray-700 dark:text-darkPrimary
}
#waline .vcard .vcontent p {
    @apply text-gray-700 dark:text-darkPrimary
}
#waline .vreply svg {
    @apply text-gray-700 fill-current dark:text-darkPrimary
}
#waline .vreply svg:hover {
    @apply text-accent fill-current ease-in-out duration-200 transition-all
}
html.dark #waline .vloading svg {
    @apply dark:text-white fill-current
}
#waline .vcard {
    @apply dark:border-darkDivider
}
#waline .vmeta span {
    @apply dark:bg-darkBgDarker dark:text-darkPrimary
}

@tailwind components;

@layer components {
    .bg-width {
        @apply w-full lg:w-[920px] mx-auto bg-white dark:bg-darkBglighter;
    }
    .global-underline {
        @apply bg-gradient-to-r from-accent to-accent bg-left-bottom bg-no-repeat transition-size duration-1000 bg-underlineNormal hover:bg-underlineHover
    }
    .articleLink-underline {
        @apply bg-gradient-to-r from-yellow-400 to-accent bg-left-bottom bg-no-repeat transition-size bg-linkNormal hover:bg-linkHover
    }
}

@tailwind utilities;

#toggle:checked ~ label div.toggle-dot {
    @apply translate-x-7 ease-in-out duration-200;
}

.prose code {
    @apply before:content-none after:content-none font-normal italic
}

.prose p {
    @apply font-primaryFont leading-9
}

.prose a {
    @apply no-underline dark:text-darkPrimary articleLink-underline
}

.prose blockquote p {
    @apply font-secondryFont
}

@layer base {    
    @font-face {
        font-family: 'Fira Code';
        font-style: normal;
        font-display: swap;
        font-weight: 400;
        src: local(''), url('../fonts/fira-code-v10-latin-regular.woff2') format('woff2'), url('../fonts/fira-code-v10-latin-regular.woff') format('woff')
    }
    
    @font-face {
        font-family: 'Cousine';
        font-style: normal;
        font-display: swap;
        font-weight: 400;
        src: local(''), url('../fonts/cousine-v17-latin-regular.woff2') format('woff2'), url('../fonts/cousine-v17-latin-regular.woff') format('woff')
    }
    
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-display: swap;
        font-weight: 400;
        src: local(''), url('../fonts/montserrat-v15-latin-regular.woff2') format('woff2'), url('../fonts/montserrat-v15-latin-regular.woff') format('woff')
    }
    
    @font-face {
        font-family: 'Noto Sans SC';
        font-style: normal;
        font-display: swap;
        font-weight: 400;
        src: local(''), url('../fonts/noto-sans-sc-v12-latin_chinese-simplified-regular.woff2') format('woff2'), url('../fonts/noto-sans-sc-v12-latin_chinese-simplified-regular.woff') format('woff')
    }
    
    @font-face {
        font-family: 'Noto Sans SC';
        font-style: normal;
        font-display: swap;
        font-weight: 700;
        src: local(''), url('../fonts/noto-sans-sc-v12-latin_chinese-simplified-700.woff2') format('woff2'), url('../fonts/noto-sans-sc-v12-latin_chinese-simplified-700.woff') format('woff')
    }
    
    @font-face {
        font-family: 'Noto Serif SC';
        font-style: normal;
        font-display: swap;
        font-weight: 400;
        src: local(''), url('../fonts/noto-serif-sc-v8-latin_chinese-simplified-regular.woff2') format('woff2'), url('../fonts/noto-serif-sc-v8-latin_chinese-simplified-regular.woff') format('woff')
    }
    
    @font-face {
        font-family: 'Noto Serif SC';
        font-style: normal;
        font-display: swap;
        font-weight: 700;
        src: local(''), url('../fonts/noto-serif-sc-v8-latin_chinese-simplified-700.woff2') format('woff2'), url('../fonts/noto-serif-sc-v8-latin_chinese-simplified-700.woff') format('woff')
    }
}
