<div class="fixed top-4 right-4 text-indigo-500">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      class="h-6 w-6 cursor-pointer hidden"
      id="toggle-dark"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
      />
    </svg>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      class="h-6 w-6 cursor-pointer hidden"
      id="toggle-light"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
      />
    </svg> 
</div>
<script>
    var theme = localStorage.getItem('theme');
    var userPrefersDark = window.matchMedia('(prefers-color-scheme: dark)');
    var toggleDark = document.getElementById('toggle-dark');
    var toggleLight = document.getElementById('toggle-light');
    var htmlElem = document.querySelector('html');
    
    if (theme === 'dark' || (!theme && userPrefersDark.matches)) {
      htmlElem.classList.add('dark');
      toggleDark.classList.add('visible');
      toggleLight.classList.remove('hidden');
    } else {
      toggleLight.classList.add('visible');
      toggleDark.classList.remove('hidden');
    }
    
    toggleLight.addEventListener('click', function () {
      localStorage.setItem('theme', 'light');
      htmlElem.classList.remove('dark');
      toggleDark.classList.add('visible');
      toggleDark.classList.remove('hidden');
      toggleLight.classList.add('hidden');
      toggleLight.classList.remove('visible');
    });
    
    toggleDark.addEventListener('click', function () {
      localStorage.setItem('theme', 'dark');
      htmlElem.classList.add('dark');
      toggleLight.classList.add('visible');
      toggleLight.classList.remove('hidden');
      toggleDark.classList.add('hidden');
      toggleDark.classList.remove('visible');
    });
</script>