{{if not .IsPage}}
<div id="navigation">
    <a href="{{.Site.BaseURL}}" class="sitelogo">
        {{ partial "sitelogo.html" . }}
    </a>
    <ul class="menu-list">
        <li>
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{- .Name -}}</a>
            {{ end }}
        </li>
    </ul>
    <hr>
</div>
{{end}}