{{ $paginator := .Paginator }}

<!-- Number of links either side of the current page -->
{{ $adjacent_links := 1 }}

<!-- $max_links = ($adjacent_links * 2) + 1 -->
{{ $max_links := (add (mul $adjacent_links 2) 1) }}

<!-- Pages to print -->
{{ $lower_limit := 1 }}
{{ $upper_limit := $paginator.TotalPages }}
{{ $include_lower_ellipsis := false }}
{{ $include_upper_ellipsis := false }}

{{ if gt $paginator.TotalPages (add $max_links 2) }}

    <!-- If we have more pages before the current page than we can print -->
    {{ if ge $paginator.PageNumber $adjacent_links }}

        {{ $lower_limit = sub $paginator.PageNumber $adjacent_links }}

        <!-- Show more pages at the end of the range -->
        {{ if lt (sub $paginator.TotalPages $lower_limit) $max_links }}
            {{ $lower_limit = add 1 (sub $paginator.TotalPages $max_links) }}
        {{ end }}

        <!-- Show ellipsis -->
        {{ if gt (sub $lower_limit 1) 1 }}
            {{ $include_lower_ellipsis = true }}
        {{ end }}

    {{ end }}

    <!-- If we have more pages after the current page than we can print -->
    {{ if gt (sub $paginator.TotalPages $paginator.PageNumber) $adjacent_links }}

        {{ $upper_limit = add $paginator.PageNumber $adjacent_links }}

        <!-- Show more pages at the beginning of the range -->
        {{ if le $upper_limit $max_links }}
            {{ $upper_limit = $max_links }}
        {{ end }}

        <!-- Show ellipsis -->
        {{ if gt (sub $paginator.TotalPages $upper_limit) 1 }}
            {{ $include_upper_ellipsis = true }}
        {{ end }}

    {{ end }}

{{ end }}

<!-- If there's more than one page -->
{{ if gt $paginator.TotalPages 1 }}
<div class="md:w-1/2 w-full mx-auto flex flex-row justify-center my-10">
    {{ if $paginator.HasPrev }}
        <a class="mr-4 leading-8 hover:text-gray-500" href="{{ $paginator.Prev.URL }}"><i class="fas fa-chevron-left"></i> 上一页</a>
    {{ else }}
        <a class="mr-4 leading-8 text-gray-400 cursor-not-allowed" title="On first page" disabled><i class="fas fa-chevron-left"></i> 上一页</a>
    {{ end }}

    <ul class="flex flex-row">

        {{ range $paginator.Pagers }}

            <!-- Include first, last, and middle pages -->
            {{ if or (or (eq .PageNumber 1) (eq .PageNumber $paginator.TotalPages)) (and (ge .PageNumber $lower_limit) (le .PageNumber $upper_limit)) }}

                <li class="
                w-8 h-8 inline-block mx-1 text-center rounded-full
                {{ if ne $paginator.PageNumber .PageNumber }}
                     hover:bg-gray-200
                {{ else }}
                    text-white font-bold bg-gray-700 hover:bg-gray-700
                {{ end }}">
                    <a href="{{ .URL }}" class="inline-block w-8 h-8 leading-8">{{ .PageNumber }}</a>
                </li>

                <!-- If we're on the first page and inserting an ellipsis, or just before the last page and inserting an ellipsis -->
                {{ if or (and (eq .PageNumber 1) (eq $include_lower_ellipsis true)) (and (eq .PageNumber $upper_limit) (eq $include_upper_ellipsis true)) }}
                    <li><span class="w-8 h-8 text-gray-300 text-center leading-8 cursor-not-allowed">&hellip;</span></li>
                {{ end }}

            {{ end }}

        {{ end }}

    </ul>

    {{ if $paginator.HasNext }}
        <a class="ml-4 leading-8 hover:text-gray-500" href="{{ $paginator.Next.URL }}">下一页</a>
    {{ else }}
        <a class="ml-4 leading-8 text-gray-400 cursor-not-allowed" title="On last page" disabled>下一页</a>
    {{ end }}
</div>
{{ end }}