<nav class="post-pagination">

    {{if .Next}}
    <div class="prewrap active">
        <span class="material-icons">arrow_back</span>
        <a href="{{.Next.Permalink}}" title="{{.Next.Title}}">{{.Next.Title}}</a>
    </div>
    {{else}}
    <div class="prewrap end">END</div>
    {{end}}
    
    {{if .Prev}}
    <div class="nextwrap active">
        <a href="{{.Prev.Permalink}}" title="{{.Prev.Title}}">{{.Prev.Title}}&nbsp;</a>
        <span class="material-icons">arrow_forward</span>
    </div>
    {{else}}
    <div class="nextwrap end">END</div>
    {{end}}
</nav>