<div class="gamecard">
    <div class="cover">
        <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{ .Get 0 }}.jpg">
    </div>  
    <div class="info">
        <p class="name">{{ .Get 1 }}</p>
        <div class="meta">
            <p>游戏日期：{{ .Get 2}}</p>
            <p>评级：{{ if eq (.Get 3) 1}}🌝🌑🌑🌑🌑{{ else if eq (.Get 3) 2}}🌝🌝🌑🌑🌑{{ else if eq (.Get 3) 3}}🌝🌝🌝🌑🌑{{ else if eq (.Get 3) 4}}🌝🌝🌝🌝🌑{{ else if eq (.Get 3) 5}}🌝🌝🌝🌝🌝{{ end }}</p>
        </div>
        <p class="describe">{{ .Get 4}}</p>
    </div>
</div>