{{ define "main" }}

<div class="bg-width shadow-bg overflow-hidden">
    {{ partial "navigation.html" . }}
    {{ $paginator := .Paginate (.RegularPages) 20 }}
    <div class="p-6 md:p-8 mx-auto flex flex-row justify-between">
        <div class="w-full md:w-3/5 md:border-r md:border-gray-100 md:border-solid md:pr-8">
            {{ range $paginator.Pages }}
            <div class="flex flex-row justify-between mb-6 last:mb-0">
                <a href="{{ .Permalink }}" class="whitespace-nowrap overflow-ellipsis overflow-hidden">
                    {{ .Title }}
                </a>
                <span class="whitespace-nowrap ml-3">
                    {{ .Date.Format "2006-01-02" }}
                </span>
            </div>
            {{ end }}
            {{ partial "pagination.html" . }}
        </div>          
        <div class="w-[35%] md:block hidden">
            <div class="flex flex-col">
                <p class="font-bold mb-4">ALL CATEGORIES</p>
            {{ range $categories, $taxonomy := .Site.Taxonomies.categories }}
            <a href="{{ "/categories/" | relLangURL}}{{ $categories | urlize }}" class="inline-flex flex-row items-center mb-4">
                <img src="/images/category-image/{{ humanize $categories }}.png" alt="category" class="mr-4">
                {{- humanize $categories -}}
                <span class="text-gray-400 ml-1">({{ .Count }})</span>
            </a>
            {{ end }}
            </div>

            <div class="tag">
                <p class="font-bold mb-4 mt-8">ALL TAGS</p>
            {{ range $tags, $taxonomy := .Site.Taxonomies.tags }}
                <a href="{{ "/tags/" | relLangURL}}{{ $tags | urlize }}" class="mr-4 leading-[3rem] inline-block">
                    {{- $tags -}}
                    <span class="text-gray-400 ml-1">({{ .Count }})</span>
                </a>
            {{ end }}
            </div>
        </div>
    </div>
</div>

{{ end }}