{{ define "main" }}

<div class="bg-width shadow-xl">
  <div class="bg-cover bg-center h-[25rem] w-full relative" 
  style="background-image: url(
    {{- if .Params.cover_image -}}
      '{{- .Params.cover_image -}}'
    {{- else -}}
      '{{- .Params.defaultCover -}}'
    {{- end -}});">
      <a href="{{.Site.BaseURL}}" class="inline-block scale-50 -ml-4">
        <img src="{{ "/images/logo.png" | relURL }}" alt="sitelogo" class="origin-top-left ">
      </a> 
    <span class="tags">
      {{ with .Params.tags }}
        {{ range . }}
        <div>
          <a href="{{ "/tags/" | absURL }}{{ . | urlize }}" >{{ . }}</a>
        </div>
        {{ end }}
      {{ end }}
    </span>
    <div class="text-white text-center bottom-0 absolute pb-9 w-full bg-gradient-to-t from-blackGradient">

        {{ with .Params.categories }}
            {{ range . }}
                <a href="{{ "/categories/" | absURL }}{{ . | urlize }}" >x&nbsp;{{- . -}}&nbsp;x</a>
            {{ end }}
        {{ end }}

        <h1 class="text-5xl font-bold mb-6 mt-8">{{ .Title }}</h1>
        <div class="post-meta">
            <span>
                {{ .Date.Format "2006-01-02" }}
              </span>
              <span class="split">
                ·
              </span>
              <span>
                {{ if lt 1 .WordCount }}
                  约{{ .WordCount }}字
                {{ else }}
                    {{ .WordCount }} word
                {{ end }}
              </span>
              <span class="split">
                ·
              </span>
              <span>
                需时{{ .ReadingTime }}分钟
              </span>
        </div>
    </div>
  </div>
  <div class="prose mx-auto max-w-[90%] mt-10">
      {{ .Content }}
  </div>
  <div class="post-end-info">
    <i class="post-end">POST END</i>
    <i class="last-mod-time">最后编辑于：{{.Page.Lastmod.Format "2006-01-02 15:04"}}</i>
  </div>

  {{ partial "postpagination.html" . }}
  {{ partial "backtop.html" . }}
  {{ if .Site.Params.enableComment }}
    {{ partial "comment.html" . }}
  {{ end }}
</div>
{{ partial "toc.html" . }}
{{ end }}

