{{ define "main" }}

<div class="singlepage wrap">
  <div class="head-wrapper" style="background: url({{- if .Params.cover_image -}}'{{- .Params.cover_image -}}'{{- else -}}'/images/posthead.webp'{{- end -}});background-size:cover;background-position:center;">
    <div class="topinfo">
      <a href="{{.Site.BaseURL}}">
        {{ partial "sitelogo.html" . }}
      </a>
      <span class="tags">
        {{ with .Params.tags }}
          {{ range . }}
          <div>
            <a href="{{ "/tags/" | absURL }}{{ . | urlize }}" >{{ . }}</a>
          </div>
          {{ end }}
        {{ end }}
      </span>
    </div>
    <div class="post-title">

        {{ with .Params.categories }}
            {{ range . }}
                <a href="{{ "/categories/" | absURL }}{{ . | urlize }}" >x&nbsp;{{- . -}}&nbsp;x</a>
            {{ end }}
        {{ end }}

        <h1>{{ .Title }}</h1>
        <div class="post-meta">
            <span>
                {{ .Date.Format "2006-01-02" }}
              </span>
              <span class="split">
                ·
              </span>
              <span>
                {{ if lt 1 .WordCount }}
                  约{{ .WordCount }}字
                {{ else }}
                    {{ .WordCount }} word
                {{ end }}
              </span>
              <span class="split">
                ·
              </span>
              <span>
                需时{{ .ReadingTime }}分钟
              </span>
        </div>
    </div>
  </div>
  <div class="content">
      {{ .Content }}
  </div>
  <div class="post-end-info">
    <i class="post-end">POST END</i>
    <i class="last-mod-time">最后编辑于：{{.Page.Lastmod.Format "2006-01-02 15:04"}}</i>
  </div>

  {{ partial "postpagination.html" . }}
  {{ partial "backtop.html" . }}
  {{ if .Site.Params.enableComment }}
    {{ partial "comment.html" . }}
  {{ end }}
</div>
{{ partial "toc.html" . }}
{{ end }}

